---
layout: default
title: 1969 Latvian Full-Size Cello For Sale
---

 <!-- {% for post in site.posts %}
    <article><time>{{ post.date | date_to_string }}</time> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></article>
  {% endfor %} -->

<section class="header">
  <div class="container">
    <!-- <div class="bg-img" style="background-image: url({{site.baseurl}}/img/cello-1.jpg); padding-bottom: 56.625%;"> -->
    <header>
      <h1>1969 Latvian Full-Size Cello</h1>
      <h3>$15,000 <span>or best offer</span></h3>
      <a href="mailto:dbalatero@gmail.com" class="button">Contact</a>
    </header>
    <div class="img-wrap">
      <img src="{{site.baseurl}}/assets/img/cello-1.jpg" alt="">
    </div>
  </div>
    {% include nav.html %}
</section>

<section id="about">
  <div>
    <div class="container">
      <div class="title-box">
        <h2>About</h2>
        <p>
          My beautiful full-size cello is for sale. It was made in 1969, and the inside placard reads “R. Masens, Lettonia,” which places its origin in Latvia. I haven’t been able to find a lot of information about the builder, as there isn’t a lot written in English.
        </p>
        <p>
          I’ve used it on many concerts and recording sessions, and I’ve finally outgrown it after 13 years of playing it. I have a new cello now, and I would like to find a fitting home for this instrument.
        </p>
        <p class="flush">
          The pictures I took have a French bridge installed, but since these studio photos were taken, I’ve had a Belgian bridge cut for it. The sound is much fuller now. As well, I had all the varnish retouched. It will come with the original French bridge I had.
        </p>
      </div>
      <div class="bg-img">
        <div class="container">
          <img alt="cello-2">
        </div>
      </div>
    </div>
  </div>
  
</section>

<section id="value">

  <div class="container">
    <div class="title-box title-box--right">
      <h2>Value</h2>
      <p>
        The instrument alone was appraised by <a href="http://carrabbaviolins.com/">Rafael Carrabba</a> for $15,000. I’m asking $15,000 or best offer.
      </p>
      <p>Also Included:</p>
      <ul class="details">
        <li>Used aluminum <a href="http://www.rouillardcases.com">Rouillard case</a>, $1,250 new</li>
        <li><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.davidgage.com%2Fstore%2Fproduct_info.php%3FcPath%3D21%26products_id%3D29%26osCsid%3D55e948448c50b8725f9652948a12dbbc&sa=D&sntz=1&usg=AFQjCNFXCKTMqjGqbaZhFTYqNb5rDPVVtA">David Gage Realist pickup </a>for amplication, $200 new</li>
        <li>The original G and C tuning pegs. Posture pegs currently installed.</li>
        <li>Original French Bridge</li>
      </ul>
    </div>
    <div class="bg-img">
      <div class="container">
        <img src="" alt="cello-3">
      </div>
    </div>
  </div>
  
</section>

<section id="location">
  <div class="container">
    <div class="title-box">
      <h2>Play the Cello</h2>
      <p class="flush">
        I live in Seattle near the <a href="https://www.google.com/maps/place/University+of+Washington/@47.6553068,-122.3047663,15z/data=!3m1!4b1!4m2!3m1!1s0x549014929d8535eb:0x6b742c7901b82ba3"></a> University of Washington. If you're interested in playing the instrument, I can bring it to you, within and acceptable radius.
      </p>
    </div>
    <div class="bg-img">
      <div class="container">
        <img alt="cello-4">
      </div>
    </div>
  </div>
  
</section>

<section id="contact">
  <div class="container">
    <h4>Please contact me with any questions:</h4>
    <a href="mailto:dbalatero@gmail.com" class="button-2">dbalatero@gmail.com</a>
  </div>
</section>




