.bg-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .container {
    height: 100%;
  }

  img { // background images
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    width: 100%;
    height: 100%;
    content: '';

    @include breakpoint($break) {
      display: block;

      #about & {
        background-image: url(../assets/img/cello-2.jpg);
      }

      #value & {
        background-image: url(../assets/img/cello-3.jpg);
        background-position: left center;
      }

      #location & {
        background-image: url(../assets/img/cello-4.jpg);
      }
    }
  }
}

.img-wrap {
  // @include box-shadow(inset 0 0 50px 30px $black);
  margin-top: -30px;
  margin-left: -50px;
  margin-right: -50px;
  margin-bottom: -10px;

  @include breakpoint($break2) {
    margin-top: -150px;
    margin-left: -130px;
    margin-right: -130px;
    margin-bottom: -80px;
  }

  img {
    position: relative;
    z-index: -1;
    display: block;
  }
}

