---
layout: gallery
title: 1969 Latvian Full-Size Cello For Sale
---
<section class="carousel">
  <div class="swipe-nav">
      <div class="controls">
        <button onclick='slider.prev()' class="previous"><i class="icon-arrow-left"></i></button>
        <div class="swipe-count"><span>1</span>/<em></em></div>
        <button onclick='slider.next()' class="next"><i class="icon-arrow-right"></i></button>
        <a class="swipe-close" href="{{site.baseurl}}/"><i class="icon-close"></i></a>
      </div>
    </div>
  </div>
  <div class="slider-container">
    <div id='slider' class='swipe'>
      <div class='swipe-wrap'>
        {% for i in (1..12) %}
          {% capture img %}{{site.baseurl}}/assets/img/gallery/img-{{i}}{% endcapture %}
          {% include img.html %}
        {% endfor %}
      </div>
    </div>
  </div>
  
</section>